<!DOCTYPE html>
<html>
  <head>
    <title>Films</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

  <header class = "navbar navbar-fixed-top navbar-inverse" >
    <div class = "nav"
      
      <nav>
        <ul class = "nav navbar-nav navbar-right" >
			<% if !signed_in? %>
				<li><%= link_to"Sign In", login_path%></li>
			<% else %>
				<li>Signed in as: <%= @current_user.name%></li>	
				<li><%= link_to"Sign Out", logout_path%></li>
			<% end %>		
			<%= link_to "Movie News", 'http://oscars.go.com/nominees' %>
			<%= link_to "home", root_path %>
			<%= mail_to "gareth.landy@hotmail.com","Contact Us" %>	
        </ul>
      </nav>
    </div>
  </header>
  
  <%flash.each do |key,value|%>
		<div class= "flash<%= key %>">
			<%= value %>
		</div>
	<% end %>	
  
	<br>
    <%= yield %>
  </body>
</html>
