<!DOCTYPE html>
<html>
  <head>
    <title>Films</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  

  <header class = "navbar navbar-fixed-top navbar-inverse" >
    <div class = "nav"
      
      <nav>
        <ul class = "nav navbar-nav navbar-right" >
          <li><%= link_to "About", '#' %></li>       
			<%= link_to "Movie News", 'http://oscars.go.com/nominees' %>
			<%= link_to "home", root_path %>
			<%= mail_to "gareth.landy@hotmail.com","Contact Us" %>	
        </ul>
      </nav>
    </div>
  </header>
  
	<br>
    <%= yield %>
  </body>
</html>
